<!DOCTYPE html>
<html>
<head>
<title>Salon Manager</title>
<!--[if lt IE 9]>
	<script src="html5.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="./css/menu.css" ></link>
<link rel="stylesheet" type="text/css" href="./css/Template.css" ></link>
</head>
<body>
<header>
	<div class="main-width">
		<h1 id="logo"><a href="">Salon Manager</a></h1>

		<nav>
			<ul>
				<li><a href="index.php"><span>Home</span></a></li>
				<li><a href="index.php?logOut"><span>Log Out</span></a></li>
				<li><a href="index.php"><span>Contact Us</span></a></li>				
				<!--<li><a href="index.php"><span>Search Tempate</span></a></li>-->
				<!--<li><a href="#"><span>Contact</span></a></li>-->

			</ul>
		</nav>
	</div>
</header>
<div id="projectBody">